*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --primary: bisque;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.848);
    color: var(--primary);
}

.titulo{
  font-size: xx-large;
  font-weight: bolder;
  padding: 40px 20px;
}

.options{
  display: flex;
  column-gap: 20px;
  padding-bottom: 40px;
}

.option{
  width: 200px;
  height: 200px;
  border: 5px solid;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option:active{
  background: black;
}

.rock, .paper {
  object-fit: cover;
  height: 60%;
}

.scissors{
  object-fit: cover;
  height: 70%;
}

.score{
  position: absolute;
  bottom: 50%;
}

.resultado{
  position: absolute;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 250px;
  top: 360px;
}

.resultado img{
  height: 80%;
}

.final{
  position: absolute;
  font-size: xx-large;
  font-weight: bolder;
  bottom: 220px;
}

.reset{
  position: absolute;
  bottom: 30px;
  border: 5px solid var(--primary);
  background: rgba(0, 0, 0, 0);
  color: var(--primary);
  padding: 60px 10px;
  border-radius: 50%;
  font-size: x-large;
  cursor: pointer;
}

.reset:active{
  background: black;
}